# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\j0114550\Desktop\ツールズ分割作業\CSharpCommonTools\CommonTools_Test\ codebase based on best match to current usage at 2021/12/02
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

# C#デフォのチェッカーのルールカスタマイズ

# public関数の先頭は大文字
dotnet_diagnostic.IDE1006.severity = none
# 一行だけの関数だとラムダ式を強制する
dotnet_diagnostic.IDE0022.severity = none

# styleCop.Analizerのルールカスタマイズ

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none
# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none